<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Project</title>
    <style>
        .container {
            display: flex;
        }
        .half {
            flex: 1;
            width: 100%; /* Add this */
            height: 100%; /* Add this */
        }
        .camera {
            max-width: 90%;
            max-height: 90%;
            display: block;
            margin: auto;
        }
        .webgl {
            width: 100%; /* Add this */
            height: 100%; /* Add this */
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="half">
            <h1>e m o t i o n --- t o --- a r t</h1>
            <p>change from "smile" to "sad" to generate objects, {{ name }}</p>
            <img class="camera" src="{{ url_for('views.video_feed') }}" />
        </div>
        <div class="half">
            <p>Waiting for 3D work...</p>
            <p><button id="generate">Generate Object</button>
                <button id="clear">Clear Canvas</button>
                <button id="capture">Capture Image</button>
                <button id="runLoops">Run Loops</button>
            </p>
            <script type="module" src="{{ url_for('static', filename='index.js')}}"></script>
            <canvas class="webgl"></canvas>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script>
        // This is the client-side script to connect to the server and receive the pose classification
        console.log('Page loaded');
        var socket = io.connect('http://127.0.0.1:5000');
        socket.on('connect', function() {
            console.log('Connected to server');
        });
        socket.on('connect_error', function(err) {
            console.log('Error connecting to server: ' + err);
        });

        let previousClassification = null;

        socket.on('pose_classification', function(msg) {
            // Update your webpage with the pose classification
            console.log('Pose classification: ' + msg.classification);

            // If the pose classification is different from the previous one, generate a new object
            if (msg.classification !== previousClassification) {
                window.generateObject();
                previousClassification = msg.classification;
            }
        });
    </script>
</body>
</html